#root {
}

body {
  overflow-x: auto; /* Abilita lo scroll orizzontale */
  overflow-y: hidden; /* Disabilita lo scroll verticale */
  white-space: nowrap; /* Impedisce il ritorno a capo */
  height: 100vh; /* Mantiene il full screen */
}
